.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%; /* Use full width */
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Smooth transition */
  }
  
  .carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    width: auto; /* Set the width of each item to auto */
  }
  
  .carousel-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .carousel-item p {
    margin-top: 8px;
    font-size: 16px;
    text-align: center;
  }
  
  .scroll-button {
    display: none; /* Removed the scroll buttons */
  }
  