/* src/why/WhyThisPortfolio.css */
body {
  background-color: #232223;
}

.projectfont1 {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #202124;
}

.projectfont2 {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #5f6368;
}

.pbg {
  background-color: #2b2a2b;
  padding: 2%;
  border-radius: 8px;
  color: white;
  margin-top: 10px;
}

.projectimg {
  width: 180px;
  height: 180px;
  background-size: cover;
  border-radius: 50px;
}

.pbgbody {
  padding: 3%;
}
