/* src/App.css */

body {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
  font-family: 'Roboto', sans-serif;
  padding-top: 60px;
}

.homeroute {
  transition: background-color 0.3s ease;
}

.artroute {
  transition: background-color 0.3s ease;
}

h1 {
  font-family: 'Google Sans', 'Roboto', sans-serif;
}

.projectfont1 {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: inherit;
  /* use theme color */
}

.projectfont2 {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: inherit;
  /* use theme color */
}