/* src/components/LogoCarousel.css */
.carousel-container {
    height: 100px;
    overflow: hidden;
    position: relative;

    display: flex;
    align-items: center;
    padding: 0 20px;
}

.carousel-track {
    display: flex;
    align-items: center;
    width: max-content;
    animation: scrollLeft 30s linear infinite;
}

.carousel-logo {
    height: 40px;
    margin-right: 50px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.carousel-logo:hover {
    transform: scale(1.1);
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}