/* src/nav/nav.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-logo img {
  height: 30px;
}

.toggle-button {
  background-color: transparent;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  color: inherit;
  cursor: pointer;
  font-weight: bold;
}