.footer-container {
  text-align: center;
  background: rgb(249, 206, 52);
  background: linear-gradient(355deg,
      rgba(249, 206, 52, 1) 0%,
      rgba(238, 42, 123, 1) 48%,
      rgba(98, 40, 215, 1) 100%);
  color: white;
  padding: 50px 20px;
}

.footer-icon {
  width: 250px;
  margin-bottom: 15px;
}

.footer-content h1 {
  font-size: 48px;
  font-weight: bold;
  color: white;
}

.footer-content p {
  font-size: 20px;
  margin: 10px 0;
}

.vmail {
  color: black;
  text-decoration: none;
}

.social-buttons {
  margin-top: 20px;
}

footer {
  margin-top: 30px;
  font-size: 15px;
}

footer a {
  color: white;
  text-decoration: underline;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .footer-container {
    padding: 40px 20px;
  }

  .footer-icon {
    width: 120px;
  }

  .footer-content h1 {
    font-size: 28px;
  }

  .footer-content p {
    font-size: 14px;
  }

  footer {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .footer-icon {
    width: 200px;
  }

  .footer-container {
    padding: 30px 15px;
  }

  .footer-content h1 {
    font-size: 24px;
  }

  .footer-content p {
    font-size: 16px;
  }

  .footer-content a {
    font-size: 18px;
  }

  footer {
    font-size: 12px;
  }
}